.menu-area {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 2;
  position: fixed;
  top: 0;
  display: none;
}

.menu-content {
  color: #000;
  background-color: #fff;
  width: 310px;
  height: 418px;
  position: absolute;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  left: 120px;
  top: 90px;
  overflow: hidden;
}

.menu-item {
  height: calc(418px / 8);
  padding: 15px 0;
  border: 0.1px solid rgba(0, 0, 0, 0.03);
  display: flex;
  justify-content: space-between;
}
.menu-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.menu-item a {
  text-decoration: none;
  color: black;
  width: 80%;
  font-weight: 600;
}
.menu-item a:hover {
  color: #0d6efd;
  transition: all 0.1s;
}
.menu-item i {
  margin-left: 20px;
  width: 30px;
}

.menu-sub-area {
  width: 984px;
  height: 418px;
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(187, 187, 187);
  position: absolute;
  top: 90px;
  right: 105px;
  z-index: 10;
  border-radius: 5px;
  display: none;
}
.menu-sub-area .area {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.menu-sub-area .area ul {
  padding: 10px;
  list-style: none;
}
.menu-sub-area .area ul li {
  margin: 10px 0;
}
.menu-sub-area .area ul a {
  text-decoration: none;
  color: #000;
}
.menu-sub-area .area ul a:hover {
  color: #0d6efd;
}
.header__top-search {
  position: relative;
  width: 40%;
}

.header__top-search input {
  outline: none;
  border-radius: 20px;
  padding: 0 20px;
}
.header__top-search button {
  border: none;
  height: 30px;
  background-color: transparent;
  color: grey;
  position: absolute;
  right: 0;
  width: 50px;
  border-left: 1px solid #e5e7eb;
}
.contact-area {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 2;
  position: fixed;
  top: 0;
  display: none;
}
.contact-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-content {
  background-color: #fff;
  width: 40%;
  height: fit-content;
  position: sticky;
  z-index: 2;
  padding: 30px;
  border-radius: 10px;
}
.contact-lists {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-item {
  width: 80%;
  height: 40px;
  margin: 10px 0;
  border: 1px solid #0d6efd;
  border-radius: 5px;
  color: #0d6efd;
}
.contact-item a {
  text-decoration: none;
  padding: 0 auto;
}
.contact-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.1s;
}
.contact-area button {
  position: absolute;
  top: 0;
  right: 2px;
  border: none;
  background-color: transparent;
  color: #0d6efd;
}
.hot__sale {
  background-color: #0dcaf0;
  border-radius: 15px;
  height: 500px;
  margin-top: 10px;
}
.hot__sale-default {
  font-weight: 700;
  color: white;
  margin-left: 10px;
}
.hot__sale-animation {
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: transparent;
}
.menu-lists a {
  width: 110px;
}
.btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.brandList-item a:hover {
  background-color: rgba(13, 110, 253, 0.5);
}

.card {
  /* width: 19%; */
  border-radius: 10px;
  box-shadow: 1px 1px 10px gray;
  padding: 10px;
  margin: 10px;
}
.card img {
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
  overflow: hidden;
}
.card:hover {
  box-shadow: 1px 1px 12px rgb(8, 8, 8);
  transition: 0.3s;
}

.card-installment {
  color: #0d6efd;
  border: 2px solid #0d6efd;
  border-radius: 7px;
  right: -1px;
  top: -1px;
}
.card-discount {
  width: 120px;
  text-align: center;
  color: white;
  left: -1px;
  top: -1px;
  border: 2px solid #0d6efd;
  background-color: #0d6efd;
  border-radius: 7px 0 10px 0;
}
.card-text {
  background-color: #f3f4f6;
  border: 1px solid #e5e7eb;
  padding: 0 5px;
  border-radius: 8px;
}
.rate-like {
  right: 20px;
  bottom: 18px;
}

.list__items {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.list__items--item {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: #0d6efd;
}
.list__items--item a {
  display: block;
  width: 100%;
  height: 100%;
  color: #e5e7eb;
}

.list__items-img img {
  width: 100%;
  position: absolute;
  top: 30px;
}
/* footer */
.footer {
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 10px;
  background-color: #efefef;
  text-align: center;
}
.footer-content {
  color: #0dcaf0;
  padding: 30px;
}
.footer-form input {
  border-radius: 5px;
  border: 1px solid rgb(210, 207, 207);
  outline: none;
  margin: 10px 0;
}
.footer__form--btn {
  width: 30%;
  background-color: #0dcaf0;
  color: white;
}
.footer__form--btn:hover {
  background-color: rgba(13, 202, 240, 0.5);
  color: white;
}
.footer__link {
  margin: 20px 0;
}
